html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lato&display=swap');


/* Global styles */

html {
  font-size: 125%;
  background-color: rgb(4, 4, 29);
  overflow-x: hidden;
}

* {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  color: #ffffff;
}

/* Header styles */

h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 3.3rem;
  color: #6b6eec;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 4rem 0 3rem;
  text-shadow: 0 0 0.7rem rgb(162, 118, 250), 0 0 0.8rem #6b6eec;
  position: relative;
  animation: flicker 1.5s alternate infinite;
}

h1::before {
  content: '';
  position: absolute;
  background: #6b6eec;
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(2rem) rotateX(40deg) scale(1, 0.35);
  filter: blur(2em);
  opacity: 0.7;
  transition: opacity 0.1s linear;
}

@keyframes flicker {
    
  0%, 22%, 36%, 38%, 53%, 57%, 63%, 79%, 100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #6b6eec,
      0 0 80px #6b6eec,
      0 0 90px #6b6eec,
      0 0 100px #6b6eec,
      0 0 150px #6b6eec;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

/* Form styles */

h2 {
  font-size: 2rem;
  margin-top: 3rem;
  text-transform: uppercase;
  color: #6b6eec;
  text-shadow: 0 0 0.5rem rgb(162, 118, 250), 0 0 0.5rem #9495f5;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.formFlex {
  display: flex;
  justify-content: center;
}

label, input, button {
  padding: 0.2rem;
  margin: 0.3rem;
}

label {
  font-size: 1.2rem;
}

input {
  padding: 0.5rem;
  color: #000;
  font-size: 1.5rem;
}

/* Button styles */

button {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 3px solid #141640;
  background-color: white;
  cursor: pointer;
  color: #8ef9f4;
  color: #6b6eec;
  margin-bottom: 5rem;
  display: inline-block;
  border: solid 4px #8ef9f4;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  text-shadow: 0 0 0.125rem rgb(217, 252, 244), 0 0 0.25rem #141640;
  box-shadow: inset 0 0 1rem 0 #8ef9f4,
  0 0 1rem 0 #8ef9f4;
  position: relative;
  transition: 0.1s linear;
}

button:hover,
button:focus {
  background: #8ef9f4;
  color: #141640;
  text-shadow: none;
}

button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2rem 0.5rem #8ef9f4;
  opacity: 0;
  transition: opacity 0.1s linear;
}

button:hover::after,
button:focus::after {
  opacity: 1;
}

form a button {
  width: 97%;
}

.buttonTwo {
  margin-bottom: 2rem;
}

/* Gifs display styles */

ul li {
  list-style: none;
  width: calc((100% / 3) - 0.2rem);
  padding: 1rem;
  border: solid 3px #6b6eec;
  box-shadow: inset 0 0 1rem 0 #6b6eec,
  0 0 1rem 0 #6b6eec;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 1rem 0.1rem;
}

.gifContainer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 2rem;
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
  height: 100%;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.gifContainer {
  height: 300px;
  width: 100%;
  position: relative;
}

img:hover,
img:focus {
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -o-transform: scale(1.07);
  transform: scale(1.07);
  opacity: 0.3;
}

.gifContainer:hover p,
.gifContainer:focus p {
  opacity: 1;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

ul button {
  margin-bottom: 0.5rem;
}

.savedGifsContainer img:hover,
.savedGifsContainer img:focus {
  opacity: 1;
  scale: 1;
  cursor: default;
}

h4 {
  
  margin-top: 0.5rem;
  display: block;
  padding: 0.8rem 0;
  text-transform: uppercase;
}

/* Footer styles */

footer {
  margin: 0;
  color: #fff;
}


/* Media Queries to make de website responsive */

@media(max-width: 768px) {
  ul {
    flex-direction: column;
  }
  ul li {
    width: 100%;
  }
} 
