html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}



@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lato&display=swap');


/* Global styles */

html {
    font-size: 125%;
    background-color: rgb(4, 4, 29);
    overflow-x: hidden;
}

* {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    color: #ffffff;
}

/* Base set-up */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 85%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    object-fit: cover;
}

/* Header styles */

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 3.3rem;
    color: #6b6eec;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 4rem 0 3rem;
    text-shadow: 0 0 0.7rem rgb(162, 118, 250), 0 0 0.8rem #6b6eec;
    position: relative;
    animation: flicker 1.5s alternate infinite;
}

h1::before {
    content: '';
    position: absolute;
    background: #6b6eec;
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(2rem) rotateX(40deg) scale(1, 0.35);
    filter: blur(2em);
    opacity: 0.7;
    transition: opacity 0.1s linear;
}

@keyframes flicker {
    
    0%, 22%, 36%, 38%, 53%, 57%, 63%, 79%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #6b6eec,
        0 0 80px #6b6eec,
        0 0 90px #6b6eec,
        0 0 100px #6b6eec,
        0 0 150px #6b6eec;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

/* Form styles */

h2 {
    font-size: 2rem;
    color: #8ef9f4;
    text-shadow: 0 0 0.5rem rgb(162, 118, 250), 0 0 0.5rem #9495f5;
}

.formFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 0.8rem;
}

label, input, button {
    padding: 0.2rem;
}

label {
    font-size: 1.5rem;
    color: #8ef9f4;
    text-shadow: 0 0 0.5rem rgb(162, 118, 250), 0 0 0.5rem #9495f5;
}

input {
    padding: 0.5rem;
    color: #000;
    font-size: 1.5rem;
}

/* Button styles */

button {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: 3px solid #141640;
    background-color: white;
    cursor: pointer;
    color: #6b6eec;
    margin-bottom: 2rem;
    display: inline-block;
    padding: 1rem 0.5rem;
    border: solid 4px #8ef9f4;
    border-radius: 10px;
    text-shadow: 0 0 0.125rem rgb(217, 252, 244), 0 0 0.25rem #141640;
    box-shadow: inset 0 0 1rem 0 #8ef9f4, 0 0 1rem 0 #8ef9f4;
    position: relative;
    transition: 0.1s linear;
}

button:hover,
button:focus {
    background: #8ef9f4;
    color: #141640;
    text-shadow: none;
}

button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2rem 0.5rem #8ef9f4;
    opacity: 0;
    transition: opacity 0.1s linear;
}

button:hover::after,
button:focus::after {
    opacity: 1;
}

.buttonTwo {
    margin-bottom: 2rem;
}

/* Gifs display styles */

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

ul li {
    flex: 1 0 calc((100% / 3) - 1rem);
    padding: 1rem;
    border: solid 3px #6b6eec;
    box-shadow: inset 0 0 1rem 0 #6b6eec,
    0 0 1rem 0 #6b6eec;
    border-radius: 10px;
}

.gifsList li,
.savedGifsContainer li {
    display: flex;
    flex-direction: column;
}

.movieList {
    justify-content: center;
}

.movieList :link {
    text-decoration: none;
}

.movieList li:hover,
.movieList li:focus {
    border: #8ef9f4;
    color: #8ef9f4;
}

.gifsList button {
    margin-bottom: 1rem;
}

.gifsList h4 {
    text-transform: uppercase;
}

.gifContainer {
    height: 300px;
    width: 100%;
    position: relative;
}

.gifContainer p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
}

.gifContainer img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.gifContainer img:hover,
.gifContainer img:focus{
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
    opacity: 0.3;
}

.gifContainer:hover p,
.gifContainer:focus p {
    opacity: 1;
}

.savedGifsContainer li {
    max-width: calc((100% / 3) - 1rem);
    height: 600px;
}

.savedGifsContainer img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.savedGifsContainer h4 {
    margin-top: 0.5rem;
    display: block;
    padding: 0.8rem 0;
    text-transform: uppercase;
}

/* NothingFound styles */

.nothingFound h3 {
    font-size: 1.5rem;
    color: #8ef9f4;
    text-shadow: 0 0 0.5rem rgb(162, 118, 250), 0 0 0.5rem #9495f5;
}

/* Footer styles */

footer {
    margin-top: 3rem;
    color: #fff;
}

footer h3,
a {
    letter-spacing: 0.2rem;
}

footer a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

footer a:hover,
footer a:focus {
    cursor: pointer;
    color: #8ef9f4;
    scale: 1.06;
}

/* Media Queries to make de website responsive */

@media(max-width: 768px) {
    ul {
        flex-direction: column;
    }
    ul li {
        width: 100%;
    }
} 

@media (max-width: 480px) {
    html, body {
        overflow-x: hidden;
    }
}
